// colors

$color-1: #1a1a1a; // Cod Gray
$color-2: #db6356; // Roman
$color-3: #ffffff; // White
$color-4: #3580f1;
$linkTitle-color: #6772e5;
$linksubTitle: #6b7c93;

// fonts

$primary-font: "Camphor", sans-serif;
